/*utilities*/

p{
    margin: 10px 0;
}

img{
    width: 100%;
}

.container{
    max-width: 1300px;
    

}

.text-center{
    text-align: center;
}

.btn{
    padding: 10px 30px;
    display: inline-block;
    cursor: pointer;
    background-color: var(--primary-color);
    color: white;
    border-radius: 5px;
    border: none;

}

.btn:hover{
    transform: scale(0.98);
}

.btn-outline{
    border-color: white;
    border: 1px solid black;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;

}

.grid-3{
    grid-template-columns: repeat(3,1fr);
}
.card{
    background-color: white;
    color: black;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 10px;
}

/* Margins */
.my-1{
  margin: 1rem 0px;
}

.my-2{
    margin: 1.5rem 0px;
  }

.my-3{
    margin: 2rem 0px;
  }

.my-4{
    margin: 3rem 0px;
  }

.my-5{
    margin: 4rem 0px;
  }

.m-1{
    margin: 1rem;
  }
  
.m-2{
      margin: 1.5rem;
    }
  
.m-3{
      margin: 2rem;
    }
  
.m-4{
      margin: 3rem;
    }
  
.m-5{
      margin: 4rem;
    }


/* paddings */
.py-1{
    padding: 1rem 0px;
  }
  
.py-2{
      padding: 1.5rem 0px;
    }
  
.py-3{
      padding: 2rem 0px;
    }
  
.py-4{
      padding: 3rem 0px;
    }
  
.py-5{
      padding: 4rem 0px;
    }
  
.p-1{
      padding: 1rem;
    }
    
.p-2{
        padding: 1.5rem;
      }
    
.p-3{
        padding: 2rem;
      }
    
.p-4{
        padding: 3rem;
      }
    
.p-5{
        padding: 4rem;
      }


/*backgrounds and colored button*/
.btn-primary, .bg-primary{
  background-color: var(--primary-color);
}

.btn-secondary, .bg-secondary{
  background-color: var(--secondary-color);
}

.btn-dark ,.bg-dark{
  background-color: var(--dark-color);
}

.btn-light, .bg-light{
  background-color: var(--light-color);
    color: #333;
}

.btn-primary a, 
.bg-primary a,
.btn-secondary a,
.bg-secondary a,
.btn-dark a,
.bg-dark a {
 color: white;
}


/*text sizes*/
.lead{
  font-size: 20px;
}

.sm{
  font-size: 1rem;
}

.md{
  font-size: 2rem;
}

.lg{
  font-size: 3rem;
}

.xl{
  font-size: 4rem;
}
